<div class="mb-1 mt-2">
    <h6 class="pl-2">
        <a :href="DOMAIN" style="color: rgb(0, 85, 255);">Trang chủ</a>
        »
        <a href="#" style="color: rgb(0, 85, 255);">Tài khoản</a>
    </h6>
    <hr color="blue" style="margin: 2px; height: 0.3px;">
    <!-- Card thông tin tài khoản -->
    <div class="card mx-auto mt-4" style="max-width: 600px;">
        <div class="card-header text-center">
            <h4>Thông Tin Tài Khoản</h4>
        </div>
        <div class="card-body" v-if="dataUser">
            <!-- Tên -->
            <div class="mb-3">
                <label for="username" class="form-label">Tên</label>
                <input type="text" id="username" class="form-control" :value="dataUser.username" readonly>
            </div>
            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" :value="dataUser.email" readonly>
            </div>
            <!-- Số chap -->
            <div class="mb-3">
                <label for="text" class="form-label">Tổng số chaps</label>
                <input type="text" id="email" class="form-control" :value="dataUserTotalChaps" readonly>
            </div>
            <!-- Cấp độ -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <label for="level" class="form-label">Cấp độ</label>
                    <input type="text" id="level" class="form-control" :value="dataLevel.name" readonly>
                </div>
                <div class="mt-4">
                    <button class="btn btn-warning">Change</button>
                </div>
            </div>
            <!-- Danh sách truyện yêu thích -->
            <div class="mb-5">
                <label for="favorite-list" class="form-label">Danh Sách Yêu Thích</label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="favorite-list"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Truyện yêu thích
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="favorite-list">
                        <li v-for="comic in dataComicFavor" :key="comic.id_truyen">
                            <a class="dropdown-item" :href="DOMAIN + 'detail-comic?id=' + comic.id_truyen">
                                [[ comic.ten_truyen ]]
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- Button đăng xuất -->
            <div class="text-center mt-3">
                <button @click="logOut" class="btn btn-danger">Đăng Xuất</button>
            </div>
        </div>
    </div>
</div>