<div class="read-comic">
    <h6 class="mb-3 p-2">
        <a :href="DOMAIN" style="color: rgb(0, 85, 255);">Trang chủ</a>
        »
        <a :href="DOMAIN +'detail-comic?id=' + comicSlug" style="color: rgb(0, 85, 255);">[[ comicName ]]</a>
        »
        <a href="#" style="color: rgb(0, 85, 255);">Chapter [[ chapterName ]]</a>
    </h6>
    <div class="tt-comic p-2">
        <div class="mr-2"
            style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: rgb(0, 85, 255);">
            [[ comicName ]]</div>
        <div class="d-flex align-items-center">
            <div class="mr-2">Chapter [[ chapterName ]]</div>
            <div class="mr-2">-</div>
            <i v-if="comic_detail.updatedAt" style="font-size: 13px;">[ [[ formatDateTime(comic_detail.updatedAt) ]]
                ]</i>
        </div>
    </div>

    <hr color="blue" style="margin: 2px; height: 0.3px;">

    <div class="read-cm text-center mt-2 p-2">
        <div style="color: rgb(255, 183, 0);">Nếu không xem được truyện, nghĩa là bạn không kết nối mạng
        </div>
        <div style="color:  red;">Website có thể lỗi, hãy kiên nhẫn</div>

        <div class="mt-2">
            <button class="p-2 mr-2" @click="switchServer(1)"
                style="color: #fff; border: none; text-align: left; border-radius: 4px; background-color: rgb(18, 214, 15);">
                Server 1 </button>
            <button class="p-2" @click="switchServer(2)"
                style="color: #fff; border: none; text-align: left; border-radius: 4px; background-color: rgb(15, 95, 214);">
                Server 2 </button>
        </div>
        <div class="mt-2 mb-2">
            <button class="p-2 bi bi-exclamation-triangle-fill"
                style="color: #fff; border: none; text-align: left; border-radius: 4px; background-color: rgb(214, 151, 15);">
                Báo lỗi </button>
        </div>

        <div class="mb-2 d-flex align-items-center justify-content-center"
            style="border: 1px solid #0065fd3a; height: 40px; width: 100%; background-color: rgba(52, 120, 188, 0.202);">
            <i style="font-size: 12px;"><i class="bi bi-info-circle-fill mr-2" style="color: #1061c4;"></i>Sử dụng mũi
                tên trái (←) hoặc phải (→) để chuyển chapter</i>
        </div>

        <div class="mb-2 d-flex align-items-center justify-content-center">
            <a :href="DOMAIN"><i class="mr-2 bi bi-house-door-fill"
                    style="color: rgb(216, 88, 24); font-size: 20px;"></i></a>
            <a href="#"><i class="mr-2 bi bi-list-ul" style="color: rgb(216, 88, 24); font-size: 25px;"></i></a>
            <a href="#"><i class="mr-2 bi bi-arrow-counterclockwise"
                    style="color: rgb(216, 88, 24); font-size: 20px;"></i></a>

            <div class="mt-3 mb-3 d-flex justify-content-center align-items-center">
                <a v-if="comic_detail_chaps.length > 0 && comicNumber -1 > 0"
                    :href="DOMAIN + 'read-comic?name=' + comicSlug + '&id=' + comic_detail_chaps[comicNumber - 2].chapter_api_data+'&'+'num='+(Number(comicNumber) - 1)+'&chapter-name='+comic_detail_chaps[comicNumber-2].chapter_name"
                    class="p-1 mr-1"
                    style="height: 30px; color: #fff; border: none;  border-radius: 3px 0 0 3px; background-color: rgb(214, 154, 15);">
                    <i class="bi bi-caret-left-fill"></i>
                </a>
            </div>

            <div class="dropdown" style="width: 200px; border: 1px solid black; height: 30px;">
                <div class="dropdown-toggle mt-1" href="#" id="" role="button" data-bs-toggle="dropdown"
                    @click="scrollToActiveChapter" style="font-size: 15px;">
                    Chapter [[ chapterName ]]
                </div>
                {{!-- <div>Chỗ này: chap.chapter_name có thể sai => dùng index</div> --}}
                <ul class="dropdown-menu mt-1 dropdownMenu" aria-labelledby="navbarDropdown"
                    style="width: 200px; max-height: 300px; overflow-y: auto;">
                    <li v-for="(chap, index) in comic_detail_chaps" :key="chap.chapter_api_data"
                        :class="{ 'active-chapter': index + 1 === comicNumber }">
                        <a class="dropdown-item"
                            :href="DOMAIN + 'read-comic?name=' + comicSlug + '&id=' + chap.chapter_api_data+'&'+'num='+(Number(index)+1)+'&chapter-name='+chap.chapter_name">Chapter
                            [[ chap.chapter_name ]]</a>
                    </li>
                </ul>
            </div>

            <div class="mt-3 mb-3 d-flex justify-content-center align-items-center">
                <a v-if="comic_detail_chaps.length > 0 && comicNumber -1 < comic_detail_chaps.length - 1"
                    :href="DOMAIN + 'read-comic?name=' + comicSlug + '&id=' + comic_detail_chaps[comicNumber].chapter_api_data+'&'+'num='+(Number(comicNumber) + 1)+'&chapter-name='+comic_detail_chaps[comicNumber].chapter_name"
                    class="p-1 ml-1"
                    style="height: 30px; color: #fff; border: none; text-align: left; border-radius:  0 3px 3px 0; background-color: rgb(214, 154, 15);">
                    <i class="bi bi-caret-right-fill"></i>
                </a>
            </div>


            <div class="mt-2 mb-2 ml-1">
                <button @click="addFavor(true)" v-if="!isFavor" class="bi bi-heart-fill btn-heart-full"
                    style="font-size: 13px; height: 30px; color: #fff; border: none; text-align: left; border-radius: 4px; background-color: rgb(214, 41, 15);">
                    Theo dõi </button>
                <button @click="addFavor(true)" v-if="isFavor" class="bi bi-heart-fill btn-heart-full"
                    style="font-size: 13px; height: 30px; color: #fff; border: none; text-align: left; border-radius: 4px; background-color: rgb(98, 238, 5);">
                </button>
                <button @click="addFavor(true)" v-if="!isFavor" class="bi bi-heart-fill btn-heart"
                    style="font-size: 13px; height: 30px; color: #fff; border: none; text-align: left; border-radius: 4px; background-color: rgb(214, 41, 15);">
                </button>
                <button @click="addFavor(true)" v-if="isFavor" class="bi bi-heart-fill btn-heart"
                    style="font-size: 13px; height: 30px; color: #fff; border: none; text-align: left; border-radius: 4px; background-color: rgb(98, 238, 5);">
                </button>
            </div>

        </div>

    </div>

    <div class="read-comic-img text-center" style="width: 100%; background-color: black;">
        <img :src="domain_cdn_read+'/'+imgs_path+'/'+image.image_file" alt="" width="100%" v-for="image in imgs_comic">
    </div>


    <div class="mt-3 mb-3 d-flex justify-content-center p-2">
        <a v-if="comic_detail_chaps.length > 0 && comicNumber -1 > 0"
            :href="DOMAIN + 'read-comic?name=' + comicSlug + '&id=' + comic_detail_chaps[comicNumber - 2].chapter_api_data+'&'+'num='+(Number(comicNumber)-1)+'&chapter-name='+comic_detail_chaps[comicNumber-2].chapter_name"
            class="p-1 mr-2"
            style="color: #fff; border: none; text-align: left; border-radius: 4px; background-color: rgb(189, 69, 39);">
            <i class="bi bi-caret-left"></i>Chap trước
        </a>
        <a v-if="comic_detail_chaps.length > 0 && comicNumber -1 < comic_detail_chaps.length - 1"
            :href="DOMAIN + 'read-comic?name=' + comicSlug + '&id=' + comic_detail_chaps[comicNumber].chapter_api_data+'&'+'num='+(Number(comicNumber) + 1)+'&chapter-name='+comic_detail_chaps[comicNumber].chapter_name"
            class="p-1"
            style="color: #fff; border: none; text-align: left; border-radius: 4px; background-color: rgb(189, 69, 39);">
            Chap sau<i class="bi bi-caret-right"></i>
        </a>
    </div>


    <h6 class="mb-3 p-2">
        <a :href="DOMAIN" style="color: rgb(0, 85, 255);">Trang chủ</a>
        »
        <a :href="DOMAIN +'detail-comic?id=' + comicSlug" style="color: rgb(0, 85, 255);">[[ comicName ]]</a>
        »
        <a href="#" style="color: rgb(0, 85, 255);">Chapter [[ chapterName ]]</a>
        »
        <a href="#" style="color: rgb(0, 85, 255);">Bình luận</a>
    </h6>


    <hr color="blue" style="margin: 2px; height: 0.3px;">

    <div class="coment container mt-4 p-2">
        <!-- Thông báo cảnh báo -->
        <i class="text-danger">
            Bình luận không được tính để tăng cấp độ. Tài khoản không bình luận được là do: avatar nhạy cảm,
            spam link hoặc chưa đủ cấp độ.
        </i>

        <div v-if="isLogin">
            <!-- Khu vực nhập bình luận -->
            <div class="mb-1 mt-3">
                <textarea class="form-control" rows="3" maxlength="150" id="comment" v-model="comment"
                    placeholder="Mời bạn thảo luận, vui lòng không spam, share link kiếm tiền, thiếu lành mạnh,... để tránh bị khóa tài khoản"></textarea>
            </div>

            <button @click="submitComment(true, true)" class="p-0 mb-3 pr-3 pl-3"
                style="color: #fff; border: none; text-align: left; border-radius: 4px; background-color: rgb(15, 95, 214);">
                Gửi </button>
        </div>

        <div v-if="!isLogin" class="mb-3 mt-2 p-1 d-flex justify-content-center"
            style="background-color: #5a575a6c; color: rgb(0, 0, 0);">
            Vui lòng đăng nhập để bình luận!!!
        </div>

        <!-- Danh sách bình luận -->
        <div v-if="!isViewCmt" class="mb-3">
            <div class="card-comment d-flex">
                <div class="mr-2">
                    <img src="img/admin.jpg" class="" style="width: 50px; border: 1px solid seashell;" alt="Avatar">
                </div>
                <div class="flex-grow-1">
                    <div class="" style="border: 1px solid black;">
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0 m-2" style="color: rgb(0, 85, 255);">LuongSoSad</h6>
                            <span class="badge bg-success" style="height: 20px;">Admin</span>
                        </div>
                        <hr color="gray" style="margin: 3px; height: 0.1px;">
                        <div class="m-2">

                            <div>Chém gió nhiều hơn tại đây...</div>
                        </div>

                    </div>

                    <div class="d-flex small text-muted align-items-center">
                        <p class="text-muted mb-1 small" style="font-size: 13px;">Vừa xong</p>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="isViewCmt" class="mb-3">
            <div class="card-comment d-flex" v-for="cmt in listCommentComic">
                <div class="mr-2">
                    <img src="img/user.jpg" class="" style="width: 50px; border: 1px solid seashell;" alt="Avatar">
                </div>
                <div class="flex-grow-1">
                    <div class="" style="border: 1px solid black;">
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0 m-2" style="color: rgb(0, 85, 255);">[[ cmt.username ]]</h6>
                            <span class="badge bg-success" style="height: 20px;">Cấp [[ cmt.level ]]</span>
                        </div>
                        <hr color="gray" style="margin: 3px; height: 0.1px;">
                        <div class="m-2">

                            <div>[[ cmt.content ]]</div>
                        </div>

                    </div>

                    <div class="d-flex small text-muted align-items-center">
                        <p class="text-muted mb-1 small" style="font-size: 13px;">[[ formatTimeDifference(cmt.date) ]]
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nút xem thêm -->
        <div v-if="!isViewCmt" class="text-center">
            <button @click="submitComment(true, false)" class="btn btn-outline-secondary">+ Xem thêm bình luận</button>
        </div>
    </div>

    <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close mt-3" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="notificationMessage">Nội dung thông báo sẽ hiển thị ở đây.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

</div>